.input-time {
    display: flex;
}

.input-time div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.input-time input {
    width: 90px;
    margin-right: 10px;
}

input-time label {
    margin-bottom: 0;
}