.grid {
  display: grid;
  grid-template-columns: repeat(3, 288px);
  column-gap: 123px;
  row-gap: 75px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #212529;
  margin-bottom: 1rem;
}

table ::deep th,
table ::deep td {
  padding: 0.75rem;
  vertical-align: middle;
}

table thead tr ::deep th {
  border-bottom: 4px solid var(--brand);
  border-top: none;
}

table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
